{{! vista que se renderiza en /api/viewsUser/register}}
<h1>registro del usuario</h1>
<div><h1>Aca va a ir un formulario de registro</h1></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/socketio.js"></script>